# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# These people will be requested for
# review when someone opens a pull request.
*       @netzzer @jeanchlopez @mulbc @mid998

training/modules/infra-nodes @mmgaggle @netzzer
training/modules/ocs4perf @netzzer @jeanchlopez
training/modules/ocs4/pages/ocs4-enable-rgw.adoc @guimou