<footer class="footer">
  <a class="navbar-item" href="https://www.redhat.com/en/technologies/cloud-computing/openshift-container-storage" target="_blank">
      <img src="{{{uiRootPath}}}/img/header_logo.svg" alt="Red Hat Data Services">
  </a>
</footer>
